<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <card>
        <title>Cleanup</title>
        <title lang="de-DE">Aufräumen</title>
        <input-field type="int">
            <name>deleteMessageAfterDays</name>
            <label>Automatically delete emails older than specified days</label>
            <label lang="de-DE">E-Mails älter als angegebene Tage automatisch löschen</label>
            <placeholder>Use 0 to disable this</placeholder>
            <placeholder lang="de-DE">Benutze 0 um dieses Feature zu deaktivieren</placeholder>
        </input-field>
    </card>
</config>
