.frosh-mail-archive-detail {
    iframe {
        width: 100%;
        height: 500px;
        background-color: #fff;
    }

    pre {
        white-space: pre-line;
    }
}

.frosh-mail-archive__detail-alert {
    max-width: 960px;
}

.frosh-mail-archive__detail-metadata {
    dt {
        padding: 21px 4px 4px;
    }

    dd {
        padding: 1px 4px;
    }
}
