<sw-page>
    <template slot="search-bar">
        <sw-search-bar
            initialSearchType="Mail Archive"
            :initialSearch="term"
            @search="onSearch">
        </sw-search-bar>
    </template>

    <template slot="smart-bar-header">
        <h2>{{ $tc('frosh-mail-archive.title') }}</h2>
    </template>

    <template slot="content">
        <sw-entity-listing
            ref="table"
            v-if="items"
            :items="items"
            :columns="columns"
            :isLoading="isLoading"
            :repository="mailArchiveRepository"
            @selection-change="onSelectionChanged"
        >
            <template slot="column-receiver" slot-scope="{ item }">
                <span v-for="(element, index) in item.receiver">
                    {{ element }} &lt;<a :href='`mailto:${index}`'>{{ index }}</a>&gt;
                </span>
            </template>

            <template slot="column-createdAt" slot-scope="{ item }">
                {{ item.createdAt | date({hour: '2-digit', minute: '2-digit', second: '2-digit'}) }}
            </template>

            <template slot="column-transportState" slot-scope="{ item }">

                {{ translateState(item.transportState) }}

                <template v-if="item.transportState === 'failed'">
                    <sw-icon
                            name="regular-exclamation-triangle"
                            color="#f00"
                            class="frosh-mail-archive__data-grid-danger-icon"
                            v-tooltip="{ message: $tc('frosh-mail-archive.list.columns.transportFailed') }"
                            small
                    ></sw-icon>

                    <sw-button
                            square
                            size="small"
                            variant="context"
                            @click="resendMail(item)"
                    >
                        <sw-icon
                                name="regular-undo"
                                class="frosh-mail-archive__data-grid-danger-icon"
                                v-tooltip="{ message: $tc('frosh-mail-archive.list.actions.resendAction') }"
                                small
                        ></sw-icon>
                    </sw-button>

                </template>
            </template>

            <template slot="detail-action" slot-scope="{ item }">

                <sw-context-menu-item class="sw-entity-listing__context-menu-show-action"
                                      :routerLink="{ name: 'frosh.mail.archive.detail', params: { id: item.id } }">
                    {{ $tc('frosh-mail-archive.list.actions.showAction') }}
                </sw-context-menu-item>

                <sw-context-menu-item class="sw-entity-listing__context-menu-show-action" @click="resendMail(item)">
                    {{ $tc('frosh-mail-archive.list.actions.resendAction') }}
                </sw-context-menu-item>

            </template>

            <template #bulk-additional="{ selectionCount }">
                <a
                        v-if="selectionCount > 0"
                        class="link link-primary"
                        @click="onBulkResendClick"
                >
                    {{ $tc('frosh-mail-archive.list.actions.bulkResendAction') }}

                    <sw-icon
                            name="regular-exclamation-triangle"
                            color="orange"
                            class="frosh-mail-archive__data-grid-warning-icon"
                            v-tooltip="{ message: $tc('frosh-mail-archive.list.actions.bulkResendWarningTooltip') }"
                            small
                    ></sw-icon>
                </a>
            </template>
        </sw-entity-listing>
    </template>

    <template slot="sidebar">
        <sw-sidebar>
            <sw-sidebar-item
                    icon="regular-undo"
                    :title="$tc('frosh-mail-archive.list.sidebar.refresh')"
                    @click="onRefresh">
            </sw-sidebar-item>

            <sw-sidebar-item icon="regular-filter"
                             :title="$tc('frosh-mail-archive.list.sidebar.filter')">
                <sw-text-field :label="$tc('frosh-mail-archive.list.sidebar.filters.search')"
                               v-model="filter.term"></sw-text-field>

                <sw-single-select
                        {% if VUE3 %}
                            v-model:value="filter.transportState"
                        {% else %}
                            v-model="filter.transportState"
                        {% endif %}
                        :label="$tc('frosh-mail-archive.list.sidebar.filters.transportStateLabel')"
                        :placeholder="$tc('frosh-mail-archive.list.sidebar.filters.transportStatePlaceholder')"
                        :options="transportStateOptions"
                ></sw-single-select>

                <sw-entity-single-select
                        v-model="filter.salesChannelId"
                        :label="$tc('frosh-mail-archive.list.sidebar.filters.salesChannel')"
                        entity="sales_channel"
                ></sw-entity-single-select>

                <sw-entity-single-select
                        v-model="filter.customerId"
                        :label="$tc('frosh-mail-archive.list.sidebar.filters.customer')"
                        entity="customer"
                >
                    <template #result-label-property="{ item, index, searchTerm, getKey }">
                        <sw-highlight-text
                                :text="`${getKey(item, 'firstName')} ${getKey(item, 'lastName')}${getKey(item, 'lastName') ? ' (' + getKey(item, 'lastName') + ')' : ''}`"
                                :searchTerm="searchTerm">
                        </sw-highlight-text>
                    </template>
                </sw-entity-single-select>

                <sw-button
                        variant="ghost"
                        @click="resetFilter">
                    {{ $tc('frosh-mail-archive.list.sidebar.filters.resetFilter') }}
                </sw-button>
            </sw-sidebar-item>
        </sw-sidebar>
    </template>
</sw-page>
